In [1]:
from pyspark.sql import SparkSession

In [2]:
from pyspark.sql.functions import col, desc

In [3]:
spark = SparkSession.builder.appName('df').getOrCreate()

In [4]:
print(spark.version)

3.4.1

Question 1: Filtering and Selecting Data Write PySpark code to perform the following tasks:
1. Create a PySpark DataFrame named df using the provided dataset and schema.
2. Filter the DataFrame to select only the rows where age is greater than or equal to 25.
3. Select only the "name" and "age" columns from the filtered DataFrame.
4. Display the resulting DataFrame.

In [5]:
df = spark.read.format('csv').\
option ('inferSchema','true').\
option ('header','true').\
option ('path','C:/Users/dell/Downloads/DataFrame.csv').\
load()

In [6]:
df.printSchema()

root
 |-- S.No.: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Occupation: string (nullable = true)
 |-- Education: string (nullable = true)

In [7]:
df.show()

+-----+------+---+--------------+----------------+
|S.No.|  Name|Age|    Occupation|       Education|
+-----+------+---+--------------+----------------+
|    1|Raghav| 21|       Student|              UG|
|    2| Varun| 22|       Student|              UG|
|    3| Kunal| 26|       Student|              PG|
|    4| Virat| 34|     Cricketer|Higher Education|
|    5|   Ram| 30|Data Scientist|       Graduated|
|    6| Bunny| 25|        Doctor|            MBBS|
+-----+------+---+--------------+----------------+

In [8]:
data_1 = df.filter(df['Age'] >= 25).select(['Name', 'Age']).show()

+-----+---+
| Name|Age|
+-----+---+
|Kunal| 26|
|Virat| 34|
|  Ram| 30|
|Bunny| 25|
+-----+---+

Question 2: Aggregating Data Write PySpark code to perform the following tasks:
1. Calculate the average age of all the individuals in the DataFrame.
2. Calculate the maximum age in the DataFrame.
3. Calculate the minimum age in the DataFrame.
4. Display these aggregate results.

In [9]:
data_2 = df.agg({'Age':'Avg'})

In [10]:
data_2.show()

+------------------+
|          avg(Age)|
+------------------+
|26.333333333333332|
+------------------+

In [14]:
data_3 = df.agg({'Age':'Max'})
data_3.show()

+--------+
|max(Age)|
+--------+
|      34|
+--------+

In [17]:
data_4 = df.agg({'Age':'Min'})
data_4.show()

+--------+
|min(Age)|
+--------+
|      21|
+--------+

In [18]:
data_2.show() ; data_3.show() ; data_4.show()

+------------------+
|          avg(Age)|
+------------------+
|26.333333333333332|
+------------------+

+--------+
|max(Age)|
+--------+
|      34|
+--------+

+--------+
|min(Age)|
+--------+
|      21|
+--------+

Question 3: Grouping and Aggregating Data Write PySpark code to perform the following tasks:
1. Create a new DataFrame by adding a "department" column to the existing DataFrame with values "HR" for id 1 and 2, and "IT" for the rest.
2. Group the new DataFrame by the "department" column.
3. Calculate the average age for each department.
4. Display the resulting DataFrame with department and its corresponding average age.

In [20]:
df2 = spark.read.format('csv').\
option ('inferSchema','true').\
option ('header','true').\
option ('path','C:/Users/dell/Downloads/DataFrame_New.csv').\
load()

In [21]:
df2.show()

+-----+------+---+--------------+----------------+------------+
|S.No.|  Name|Age|    Occupation|       Education|  Department|
+-----+------+---+--------------+----------------+------------+
|    1|Raghav| 21|       Student|              UG|          TL|
|    2| Varun| 22|       Student|              UG|          IT|
|    3| Kunal| 26|       Student|              PG|          HR|
|    4| Virat| 34|     Cricketer|Higher Education|     Manager|
|    5|   Ram| 30|Data Scientist|       Graduated|Ass. Manager|
|    6| Bunny| 25|        Doctor|            MBBS|          IT|
+-----+------+---+--------------+----------------+------------+

In [22]:
df2.groupBy('Department').count().show()

+------------+-----+
|  Department|count|
+------------+-----+
|          HR|    1|
|          TL|    1|
|Ass. Manager|    1|
|          IT|    2|
|     Manager|    1|
+------------+-----+

In [23]:
data_5 = df2.groupBy('Department').mean('Age')

In [24]:
data_5.show()

+------------+--------+
|  Department|avg(Age)|
+------------+--------+
|          HR|    26.0|
|          TL|    21.0|
|Ass. Manager|    30.0|
|          IT|    23.5|
|     Manager|    34.0|
+------------+--------+