Create a PySparkDataFrame named `sales_data` with the following columns:
- `ProductID` (integer): ID of the product.
- `ProductName` (string): Name of the product.
- `Category` (string): Category of the product.
- `QuantitySold` (integer): Number of units sold.
- `PricePerUnit` (double): Price per unit of the product.

In [1]:
from pyspark.sql import SparkSession

In [3]:
#create a spark session
spark = SparkSession.builder.appName("SalesData").getOrCreate()

In [7]:
data = spark.read.format('csv').\
option ('inferSchema','true').\
option ('header','true').\
option ('path','C:/Users/dell/Downloads/SalesDataset.csv').\
load()

In [8]:
data.show()

+---------+-----------+---------------+------------+------------+
|productID|ProductName|       Category|QuantitySold|PricePerUnit|
+---------+-----------+---------------+------------+------------+
|        1|  Product_A|    Electronics|         100|         260|
|        2|  Product_B|       Clothing|         123|         200|
|        3|  Product_C|Home Appliances|          50|          30|
|        4|  Product_D|     Stationary|          80|          10|
+---------+-----------+---------------+------------+------------+

1.    Create a new column named `TotalSales` that represents the total sales for each product (quantity sold multiplied by the price per unit).

In [10]:
from pyspark.sql.functions import col

In [12]:
data = data.withColumn("TotalSales", col("QuantitySold")*col("PricePerUnit"))

In [13]:
data.show()

+---------+-----------+---------------+------------+------------+----------+
|productID|ProductName|       Category|QuantitySold|PricePerUnit|TotalSales|
+---------+-----------+---------------+------------+------------+----------+
|        1|  Product_A|    Electronics|         100|         260|     26000|
|        2|  Product_B|       Clothing|         123|         200|     24600|
|        3|  Product_C|Home Appliances|          50|          30|      1500|
|        4|  Product_D|     Stationary|          80|          10|       800|
+---------+-----------+---------------+------------+------------+----------+

2.  Create a new DataFrame named `electronics_sales` that contains only the rows where the category is "Electronics."

In [15]:
electronics_sales = data.filter(col("Category")=="Electronics")

In [16]:
electronics_sales.show()

+---------+-----------+-----------+------------+------------+----------+
|productID|ProductName|   Category|QuantitySold|PricePerUnit|TotalSales|
+---------+-----------+-----------+------------+------------+----------+
|        1|  Product_A|Electronics|         100|         260|     26000|
+---------+-----------+-----------+------------+------------+----------+

3.   Sort the `sales_data` DataFrame in descending order based on the `TotalSales` column.

In [17]:
data = data.orderBy(col("TotalSales").desc())

In [18]:
data.show()

+---------+-----------+---------------+------------+------------+----------+
|productID|ProductName|       Category|QuantitySold|PricePerUnit|TotalSales|
+---------+-----------+---------------+------------+------------+----------+
|        1|  Product_A|    Electronics|         100|         260|     26000|
|        2|  Product_B|       Clothing|         123|         200|     24600|
|        3|  Product_C|Home Appliances|          50|          30|      1500|
|        4|  Product_D|     Stationary|          80|          10|       800|
+---------+-----------+---------------+------------+------------+----------+